<h1>Contenido de Programas</h1>
<div class="row">
    <div class="main col-11">
        <div class="card col-3">
            <img src="./assets/banner-congreso-cinco-cuerpos.jpg" alt="Cinco cuerpos"
                class="img-fluid rounded mx-auto d-block ">
            <h2 class="nurse m-3">FÍSICA</h2>
            <p>La materia</p>
        </div>
    </div>
</div>
<div class="acordion">
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
                    Contenido
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">


            <app-content *ngFor="let item of items" [title]="item.title" [items]="item.subitems"></app-content>
        </div>

    </div>
</div>



<div class="show-theme">
    <h2>acá se mostraria el tema seleccionado</h2>
</div>