<h1>Contenido de Programas</h1>
<div class="row">
    <div class="main col-11">
        <div class="card col-3">
            <img src="./assets/banner-congreso-cinco-cuerpos.jpg" alt="Cinco cuerpos"
                class="img-fluid rounded mx-auto d-block ">
            <h2 class="nurse m-3">FÍSICA</h2>
            <p>La materia</p>
        </div>
    </div>
</div>
<div class="acordion">
    <app-content></app-content>
</div>

<div class="show-theme">
    <div class="m-5">
        <h2>acá se mostraria el tema seleccionado</h2>
        <div class="col-* gap-2 d-md-flex justify-content-md-center">
            <a class="nav-link" routerLink="/paypage"><button type="button" class="btn btn-primary">descargar</button></a>
        </div>
    </div>
    
</div>