<form class="row g-3 d-flex col-md-6">
    <h1>LogIn</h1>
    <div class="col-md-*">
        <label for="inputUser" class="form-label">Username or Email</label>
        <input type="text" class="form-control" id="inputUser" placeholder="Nombre de usuario o correo electrónico">
    </div>
    <div class="col-md-*">
        <label for="inputPassword" class="form-label">Pasword</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Contraseña">
    </div>
    

    <div class="col-* d-grid gap-2 d-md-block">
        <button type="submit" class="btn btn-primary">LogIn</button>
        <a  class="nav-link" routerLink="/signin">SignIn</a>
</div>
</form>

<main>
    <router-outlet></router-outlet>
</main>

