form {
    position: relative;
    text-align: center;
    margin: 50px auto;
    padding: 1rem;
    border: 0px black;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: lightblue;
}

h1 {
    text-align: center;
}

.main {
    margin: 50px auto;
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    padding: 50px;
    margin-right: 20px;
    min-width: 400px;
    text-align: center;
}

.lista li {
    margin: 0;
    padding: 0;
    text-decoration: none;
}