<form class="row g-3 d-flex col-md-6">


    <h1>CONTACTANOS</h1>
    <div class="col-md-*">
        <label for="inputName" class="form-label">Nombre Completo</label>
        <input type="text" class="form-control" id="inputName" placeholder="Nombre completo">
    </div>
    <div class="col-md-*">
        <label for="inputIndetidification" class="form-label">Identification</label>
        <input type="number" class="form-control" id="inputIndetidification" placeholder="Identificacion">
    </div>
    <div class="col-*">
        <label for="inputEmail" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Correo Electronico">
    </div>
    <div class="col-*">
        <label for="inputNumberphone" class="form-label">Número de Telefono</label>
        <input type="text" class="form-control" id="inputNumberphone" placeholder="Numero de telefono">
    </div>
    <div class="col-md-*">
        <label for="inputMessage" class="form-label">Mensaje</label>
        <textarea class="form-control" placeholder="Escriba por favor su mensaje, si desea agendar programa describalo" id="inputMessage"
            style="height: 100px"></textarea>

    </div>
    <div class="col-*">
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>

<div class="main">
    <div class="card">
        <h2>Datos de contacto</h2>
        <ul class="lista">
            <li>Agregar Contacto</li>
            <li>Agregar Contacto</li>
            <li>Agregar Contacto</li>
            <li>Agregar Contacto</li>
            <li>Agregar Contacto</li>
            <li>Agregar Contacto</li>
            <li>Agregar Contacto</li>
            <li>Agregar Contacto</li>
        </ul>
    </div>
    <div class="card">
        <h2>Redes Sociales</h2>
        <ul class="lista">
            <li><a href="https://www.facebook.com/universidadeafit" target="_blank">Facebook</a> </li>
            <li><a href="https://www.instagram.com/eafit/" target="_blank">Instagram</a> </li>
            <li><a href="https://twitter.com/eafit" target="_blank">Twitter</a> </li>
            <li><a href="https://www.eafit.edu.co/" target="_blank">Pag Web</a> </li>
            <li><a href="https://www.youtube.com/user/ueafit" target="_blank">Youtube</a> </li>
            <li><a href="https://api.whatsapp.com/send?phone=573108992908" target="_blank">WhatsApp</a></li>
        </ul>
    </div>
    <div class="card">
        <h2>Información de contacto</h2>
        <ul class="lista">
            <li>Agregar información Contacto</li>
            <li>Agregar información Contacto</li>
            <li>Agregar información Contacto</li>
            <li>Agregar información Contacto</li>
            <li>Agregar información Contacto</li>
            <li>Agregar información Contacto</li>
            <li>Agregar información Contacto</li>
            <li>Agregar información Contacto</li>
        </ul>
    </div>
</div>
