<form class="row g-3 d-flex col-md-6">


    <h1>Change Password</h1>
    <div class="col-md-*">
        <label for="inputpassword" class="form-label">Actually Password</label>
        <input type="password" class="form-control" id="inputpassword" placeholder="Contraseña Actual">
    </div>
    <div class="col-md-*">
        <label for="inputNewPassword" class="form-label">New Password</label>
        <input type="password" class="form-control" id="inputNewPassword" placeholder="Nueva Contraseña">
    </div>
    <div class="col-*">
        <label for="inputconfirmpassword" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="inputconfirmpassword" placeholder="Confirmar Contraseña">
    </div>
  
    <div class="col-* gap-2 d-md-flex justify-content-md-center">
        <button type="submit" class="btn btn-primary">Send</button>
        <a class="nav-link" routerLink="/profile"><button type="button" class="btn btn-primary">Back</button></a>
    </div>
</form>
