<h1>Planes de subscripción</h1>
<div class="row ">
    <div class="main col-11">
        <div class="card col-3">
            <img src="./assets/banner-congreso-cinco-cuerpos.jpg" alt="Cinco cuerpos"
                class="img-fluid rounded mx-auto d-block">
            <h2 class="nurse">Plan de Subscripción</h2>
            <p>Descripción del plan</p>
            <div class="col-* gap-2 d-md-flex justify-content-md-center">
                <a class="nav-link" routerLink="/paypage"><button type="button" class="btn btn-primary">Adquirir</button></a>
            </div>
        </div>


        <div class="card col-3">
            <img src="./assets/banner-congreso-cinco-cuerpos.jpg" alt="Cinco cuerpos"
                class="img-fluid rounded mx-auto d-block">
            <h2 class="nurse">Plan de Subscripción</h2>
            <p>Descripción del plan</p>
            <div class="col-* gap-2 d-md-flex justify-content-md-center">
                <a class="nav-link" routerLink="/paypage"><button type="button" class="btn btn-primary">Adquirir</button></a>
            </div>
        </div>


        <div class="card col-3">
            <img src="./assets/banner-congreso-cinco-cuerpos.jpg" alt="Cinco cuerpos"
                class="img-fluid rounded mx-auto d-block">
            <h2 class="nurse">Plan de Subscripción</h2>
            <p>Descripción del plan</p>
            <div class="col-* gap-2 d-md-flex justify-content-md-center">
                <a class="nav-link" routerLink="/paypage"><button type="button" class="btn btn-primary">Adquirir</button></a>
            </div>
        </div>
    </div>


</div>
