<form class="row g-3 d-flex col-md-6">


    <h1>Change Personal Information</h1>
    <div class="col-md-*">
        <label for="inputdocumentnumber" class="form-label">Document Number</label>
        <input type="number" class="form-control" id="inputdocumentnumber" placeholder="Numero de documento">
    </div>
    <div class="col-md-*">
        <label for="inputName" class="form-label">Name</label>
        <input type="text" class="form-control" id="inputName" placeholder="Nombres">
    </div>
    <div class="col-md-*">
        <label for="inputLastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="inputLastName" placeholder="Apellidos">
    </div>
    <div class="col-md-*">
        <label for="inputemail" class="form-label">Email</label>
        <input type="mail" class="form-control" id="inputemail" placeholder="Correo electrónico">
    </div>
    <div class="col-*">
        <label for="inputbirthdate" class="form-label"> Birthdate</label>
        <input type="date" class="form-control" id="inputbirthdate" placeholder="Fecha de nacimiento">
    </div>
    <div class="col-md-*">
        <label for="inputPhoneNumber" class="form-label">Phone Number</label>
        <input type="number" class="form-control" id="inputPhoneNumber" placeholder="Número de celular">
    </div>

    <div class="col-* gap-2 d-md-flex justify-content-md-center">
        <button type="submit" class="btn btn-primary">Send</button>
        <button type="submit" class="btn btn-primary">Consult</button>
        <a class="nav-link" routerLink="/profile"><button type="button" class="btn btn-primary">Back</button></a>
    </div>
</form>