h1,
h2 {
    text-align: center;
    background: -webkit-linear-gradient(black, rgb(48, 48, 235));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 20px;
    color: tomato;

}
.profile{
    margin-top: 20px auto;

}

.main {
    margin: 10px auto;
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: transparent;
    padding: 20px;
    border-radius: 30px;
}


.card {
    padding: 60px;
    
    margin-top: 20px;
    min-width: 250px;
    text-align: center;
    border: solid 3px #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.purpose {
    
    padding: 40px;
    margin: 45px auto;
    text-align: center;
    border: solid 2px #000;
    justify-content: center;
    
    font-size: calc(1em + 1vw);
    line-height: 1em;
}
.compras{
    background-color: deepskyblue;
    margin: 40px;
    padding: 80px;
}