<h1>Profile</h1>
<div class="row profile">
    <div class="main col-11">
        <div class="card col-3">
            <img src="./assets/banner-congreso-cinco-cuerpos.jpg" alt="Cinco cuerpos"
                class="img-fluid rounded mx-auto d-block">
            <h2 class="UserName">Usuario</h2>

            <div class="d-grid gap-2 d-md-flex justify-content-center mt-3">
                <div class="col-* d-grid gap-2 d-md-block">
                    <a class="nav-link" routerLink="/editprofile"><button type="" class="btn btn-primary">Editar
                            Perfil</button></a>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-center ">
                    <a routerLink="/editpassword"><button class="btn btn-primary" type="button">Editar
                            Contraseña</button></a>
                </div>
            </div>
        </div>

    </div>
    <div class="row d-flex justify-content-center">
        <div class="purpose col-6">
            <div class="m-3">
                <article>
                    <p class="titulo">Información Personal <br><br><br>Datos agregados en el formulario de registro </p>

                </article>
            </div>
            <div>
                <h2 class="m-5">Historial</h2>
                <div class="compras">

                    <article>
                        <p class="titulo">Informacion de los articulos adquiridos <br>y material estudiado</p>
                        <ul>
                            <li>...</li>
                            <li>...</li>
                            <li>...</li>
                            <li>...</li>
                        </ul>

                    </article>
                </div>
            </div>
        </div>


    </div>

</div>