<h1>Profile</h1>
<div class="row profile">
    <div class="main col-11">
        <div class="card col-3">
            <img src="./assets/banner-congreso-cinco-cuerpos.jpg" alt="Cinco cuerpos"
                class="img-fluid rounded mx-auto d-block">
            <h2 class="UserName">User Name</h2>

            <div class="col-* d-grid gap-2 d-md-block">
                <a class="nav-link" routerLink="/editprofile"><button type="" class="btn btn-primary">Edit
                        Profile</button></a>
            </div>
        </div>

    </div>
    <div class="row d-flex justify-content-center">
        <div class="purpose col-6">
            <article>
                <p class="titulo">Personal Information</p>

            </article>

        </div>

    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-center ">
        <a routerLink="/editpassword"><button class="btn btn-primary" type="button">Edit Password</button></a>
    </div>
</div>