<form class="row g-3 d-flex col-md-6">


    <h1>CONTACT US</h1>
    <div class="col-md-*">
        <label for="inputName" class="form-label">Complete name</label>
        <input type="text" class="form-control" id="inputName" placeholder="Nombre completo">
    </div>
    <div class="col-md-*">
        <label for="inputIndetidification" class="form-label">Identification</label>
        <input type="number" class="form-control" id="inputIndetidification" placeholder="Identificacion">
    </div>
    <div class="col-*">
        <label for="inputEmail" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Correo Electronico">
    </div>
    <div class="col-*">
        <label for="inputNumberphone" class="form-label">Number Phone</label>
        <input type="text" class="form-control" id="inputNumberphone" placeholder="Numero de telefono">
    </div>
    <div class="col-md-*">
        <label for="inputMessage" class="form-label">Message</label>
        <textarea class="form-control" placeholder="Leave a comment here" id="inputMessage"
            style="height: 100px"></textarea>

    </div>
    <div class="col-*">
        <button type="submit" class="btn btn-primary">Send</button>
    </div>
</form>

<div class="main">
    <div class="card">
        <h2>data contact</h2>
        <ul class="lista">
            <li>Add Contact</li>
            <li>Add Contact</li>
            <li>Add Contact</li>
            <li>Add Contact</li>
            <li>Add Contact</li>
            <li>Add Contact</li>
            <li>Add Contact</li>
            <li>Add Contact</li>
        </ul>
    </div>
    <div class="card">
        <h2>data contact</h2>
        <ul class="lista">
            <li>Add Contact</li>
            <li>Add Contact</li>
            <li>Add Contact</li>
            <li>Add Contact</li>
            <li>Add Contact</li>
            <li>Add Contact</li>
            <li>Add Contact</li>
            <li>Add Contact</li>
        </ul>
    </div>
    <div class="card">
        <h2>data contact</h2>
        <ul class="lista">
            <li>Add Contact</li>
            <li>Add Contact</li>
            <li>Add Contact</li>
            <li>Add Contact</li>
            <li>Add Contact</li>
            <li>Add Contact</li>
            <li>Add Contact</li>
            <li>Add Contact</li>
        </ul>
    </div>
</div>