h1,
h2 {
    text-align: center;
    background: -webkit-linear-gradient(black, rgb(48, 48, 235));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato;

}

.main {
    margin: 30px auto;
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    background-color: rgb(165, 164, 164);
    padding: 30px;
    border-radius: 30px;
}


.card {
    padding: 50px;
    min-width: 200px;
    text-align: center;
    border: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
}

h2.nurse {
    margin: 0;
    padding: 20px;
    text-decoration: none;
    text-align: center
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.developers,
.social-media {
    font-size: 18px;
    text-align: center;
    margin: 30px auto;
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
    border-radius: 40px;
    border: solid 5px #000;
}

.lista {
    list-style: none;

}