<h1>COLABORADORES PRINCIPALES</h1>
<div class="row">
    <div class="main col-11">
        <div class="card col-3">
            <img src="./assets/Carlos-Jaramillo.png" alt="Cinco cuerpos"
                class="img-fluid rounded mx-auto d-block">
            <h2 class="nurse">Dr Carlos Jaramillo</h2>
            <p>Médico Colombiano</p>
        </div>
        <div class="card col-3">
            <img src="./assets/Sara-Mesa.png" alt="Cinco cuerpos"
                class="img-fluid rounded mx-auto d-block">
            <h2 class="nurse">Dra Sara Mesa</h2>
            <p>Cocina y mente</p>
        </div>
        <div class="card col-3">
            <img src="./assets/Anaisa.png" alt="Cinco cuerpos"
                class="img-fluid rounded mx-auto d-block">
            <h2 class="nurse">Ana Santa María</h2>
            <p>Periodista y profesora de Yoga</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="main col-11">
        <div class="card col-3">
            <img src="./assets/Santiago-Rojas.png" alt="Cinco cuerpos"
                class="img-fluid rounded mx-auto d-block">
            <h2 class="nurse">Dr Santiago Rojas</h2>
            <p>Especialista en cuidados paliativos Oncológicos y medicina integrativa</p>
        </div>
        <div class="card col-3">
            <img src="./assets/Valentina-Gómez.png" alt="Cinco cuerpos"
                class="img-fluid rounded mx-auto d-block">
            <h2 class="nurse">Psic. Valentina Gómez</h2>
            <p>Especialista en Educación de emociones y gestion del bienestar<br></p>
        </div>
        <div class="card col-3">
            <img src="./assets/Piti-Parra-Duque.png" alt="Cinco cuerpos"
                class="img-fluid rounded mx-auto d-block">
            <h2 class="nurse">Piti Parra Duque</h2>
            <p>Maestro de artes interna<br></p>
        </div>
    </div>
</div>

<div class="row">
    <div class=" developers col-5">
        <div class="card">
            <h2>Desarrolladores</h2>
            <ul class="lista">
                <li>Edwin Andrés Guzman Echavarria</li>
                <li>Johan Esteban Gaviria Ocampo</li>
                <li>Juan Guillermo Pimienta Tuberquia</li>
                <li>Sury Yulany Molina Berrio</li>
            </ul>
        </div>
    </div>
</div>

<div class="row"></div>
<div class="social-media col-5">
    <div class="card">
        <h2>Redes Sociales</h2>
        <ul class="lista">
            <li><a routerLink="/us">Facebook</a> </li>
            <li><a routerLink="/us">Instagram</a> </li>
            <li><a routerLink="/us">Twitter</a> </li>
            <li><a routerLink="/us">Pag Web</a> </li>
            <li><a routerLink="/us">Youtube</a> </li>
        </ul>
    </div>
</div>

