<h1>COLABORADORES PRINCIPALES</h1>
<div class="row">
    <div class="main col-11">
        <div class="card col-3">
            <img src="./assets/Carlos-Jaramillo.png" alt="Cinco cuerpos" class="img-fluid rounded mx-auto d-block">
            <h2 class="nurse">Dr Carlos Jaramillo</h2>
            <p>Médico Colombiano</p>

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
                Más Informacíon
            </button>
            <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 " id="staticBackdropLabel">Información Personal</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="./assets/Carlos-Jaramillo.png" alt="Cinco cuerpos"
                                class="img-fluid rounded mx-auto d-block">
                            <h2 class="nurse">Dr Carlos Jaramillo</h2>
                            <p>Médico Colombiano</p>
                        </div>
                        <p class="m-4">Médico colombiano. Fundador del Instituto de Medicina Funcional, líder en su rama
                            en el territorio hispano. Asesor en Investigación y desarrollo para empresas multinacionales
                            de alimentos y suplementos y Director científico de la compañía de alimentos y suplementos
                            funcionales Savvy. Es autor del bestseller internacional El milagro metabólico, libro más
                            vendido en el 2019, 2020 y 2021 y El milagro antiestrés, 2020. En 2021 publicó su más
                            reciente libro COMO. Su pasión es encontrar la cura de raíz de las enfermedades crónicas y
                            su misión es educar al mayor número de personas posible para que sean dueños de su sanación.
                        </p>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="card col-3">
            <img src="./assets/Sara-Mesa.png" alt="Cinco cuerpos" class="img-fluid rounded mx-auto d-block">
            <h2 class="nurse">Dra Sara Mesa</h2>
            <p>Cocina y mente</p>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
                Más Informacíon
            </button>
            <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 " id="staticBackdropLabel">Información Personal</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="./assets/Sara-Mesa.png" alt="Cinco cuerpos"
                                class="img-fluid rounded mx-auto d-block">
                            <h2 class="nurse">Dra Sara Mesa</h2>
                            <p>Cocina y mente</p>
                        </div>
                        <p class="m-5">Creadora de un espacio de educación llamado Sara Cocina y Mente donde dicta
                            talleres
                            relacionados con la alimentación y su efecto sobre el bienestar del cerebro y la salud
                            del intestino, la alimentación y el funcionamiento de la mente. Su misión es inspirar a
                            las personas puedan encontrar el balance y llevar vidas en armonía con sus organismos y
                            con el medio ambiente. Trabaja como neurorradióloga en la ciudad de Medellín. Es
                            conferencista, investigadora, deportista, artista aficionada, y madre de dos. Es
                            cocinera y autora del libro de recetas cocina y mente publicado en noviembre de 2020 y
                            el libro Tu cerebro en marzo de 2022. </p>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-3">
            <img src="./assets/Anaisa.png" alt="Cinco cuerpos" class="img-fluid rounded mx-auto d-block">
            <h2 class="nurse">Ana Santa María</h2>
            <p>Periodista y profesora de Yoga</p>

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop3">
                Más Informacíon
            </button>
            <div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 " id="staticBackdropLabel">Información Personal</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="./assets/Anaisa.png" alt="Cinco cuerpos"
                                class="img-fluid rounded mx-auto d-block">
                            <h2 class="nurse">Ana Santa María</h2>
                            <p>Periodista y profesora de Yoga</p>
                        </div>
                        <p class="m-4">Soy periodista y profesora de yoga de formación y mi otra gran pasión es la
                            literatura. Trabajo hace 15 años enseñando sobre el cuerpo físico y los cuerpos sutiles a
                            través de clases, retiros y talleres. Creé Yogalalma, una plataforma de sanación a través de
                            la cual ofrezco clases de yoga, meditación, lectura y alimentación saludable. Comparto
                            también todos estos temas de manera gratuita a través de mi podcast, Abierta Mente desde
                            2018. Soy mamá de dos hijos de 6 y 8 años, con ellos sigo haciendo la maestría de la vida:
                            aprendiendo y a la vez recordando, sanando e integrando en mí para poder hacerlo en otros.
                        </p>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="main col-11">
        <div class="card col-3">
            <img src="./assets/Santiago-Rojas.png" alt="Cinco cuerpos" class="img-fluid rounded mx-auto d-block">
            <h2 class="nurse">Dr Santiago Rojas</h2>
            <p>Especialista en cuidados paliativos Oncológicos y medicina integrativa</p>

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop4">
                Más Informacíon
            </button>
            <div class="modal fade" id="staticBackdrop4" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog ">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 " id="staticBackdropLabel">Información Personal</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body  ">
                            <img src="./assets/Santiago-Rojas.png" alt="Cinco cuerpos"
                                class="img-fluid rounded mx-auto d-block">
                            <h2 class="nurse">Dr Santiago Rojas</h2>
                            <p>Especialista en cuidados paliativos Oncológicos y medicina integrativa</p>
                        </div>
                        <p class="m-4">Médico colombiano especialista en Cuidados Paliativos Oncológicos y Medicina
                            Integrativa Ha dictado conferencias sobre crecimiento personal, apoyo al paciente terminal,
                            duelo emocional, y sobre el empleo de terapias alternativas y complementarias en varios
                            países, entre los que se encuentran Colombia, Venezuela, Chile, Argentina, Panamá, Costa
                            Rica, España, Alemania, Polonia, Perú, México y Francia, entre otros. Es Director y
                            Presentador del programa radial "Sanamente" de Caracol Radio, que versa sobre temas de salud
                            integral, crecimiento personal y espiritualidad, colaborador del programa radial "Hoy por
                            Hoy" con Darío Arizmendi, y del programa de televisión "Muy Buenos Días" de RCN Televisión.
                        </p>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-3">
            <img src="./assets/Valentina-Gómez.png" alt="Cinco cuerpos" class="img-fluid rounded mx-auto d-block">
            <h2 class="nurse">Psic. Valentina Gómez</h2>
            <p>Especialista en Educación de emociones y gestion del bienestar<br></p>

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop5">
                Más Informacíon
            </button>
            <div class="modal fade" id="staticBackdrop5" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 " id="staticBackdropLabel">Información Personal</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="./assets/Valentina-Gómez.png" alt="Cinco cuerpos"
                                class="img-fluid rounded mx-auto d-block">
                            <h2 class="nurse">Psic. Valentina Gómez</h2>
                            <p>Especialista en Educación de emociones y gestion del bienestar<br></p>
                        </div>
                        <p class="m-3">Valentina es una mujer apasionada por el cultivo del SER. Es psicóloga egresada
                            de la Universidad EAFIT, especialista en Educación de Emociones y gestión del Bienestar de
                            la Universidad de Barcelona y magíster en Neuropsicología, Inteligencias Múltiples y
                            Mindfulness de la Universidad de Nebrija y el IMF Business School. Fundó Habilidades de Vida
                            en el año 2018 con el propósito de acompañar a las personas a descubrir y desarrollar
                            recursos internos que les permitan edificar una vida más profunda y plena. Hoy en día cuenta
                            con un equipo que la apoya desde diferentes áreas: personas, empresas, instituciones
                            educativas y proyectos sociales. Trabaja incansablemente para entregarle a la sociedad
                            personas felices, conscientes, pensantes y seguras de sí mismas.
                        </p>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-3">
            <img src="./assets/Piti-Parra-Duque.png" alt="Cinco cuerpos" class="img-fluid rounded mx-auto d-block">
            <h2 class="nurse">Piti Parra Duque</h2>
            <p>Maestro de artes interna<br></p>

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop6">
                Más Informacíon
            </button>
            <div class="modal fade" id="staticBackdrop6" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 " id="staticBackdropLabel">Información Personal</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="./assets/Piti-Parra-Duque.png" alt="Cinco cuerpos"
                                class="img-fluid rounded mx-auto d-block">
                            <h2 class="nurse">Piti Parra Duque</h2>
                            <p>Maestro de artes interna<br></p>
                        </div>
                        <p class="m-5">Maestro de Artes Internas (Artes Marciales, Qigong Imperial, Qigong Healing,
                            Meditación Zen). Socio fundador de Hmm! - Raising Awareness, HiQi - Escuela Internacional de
                            Qigong Imperial, Inanna y Ohra.
                        </p>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class=" developers col-5">
        <div class="card">
            <h2>Desarrolladores</h2>
            <ul class="lista">
                <li>Edwin Andrés Guzman Echavarria</li>
                <li>Johan Esteban Gaviria Ocampo</li>
                <li>Juan Guillermo Pimienta Tuberquia</li>
                <li>Sury Yulany Molina Berrio</li>
            </ul>
        </div>
    </div>
</div>

<div class="row"></div>
<div class="social-media col-5">
    <div class="card">
        <h2>Redes Sociales</h2>
        <ul class="lista">
            <li><a routerLink="/us">Facebook</a> </li>
            <li><a routerLink="/us">Instagram</a> </li>
            <li><a routerLink="/us">Twitter</a> </li>
            <li><a routerLink="/us">Pag Web</a> </li>
            <li><a routerLink="/us">Youtube</a> </li>
        </ul>
    </div>
</div>