@media (max-width: 1100px) {
    body {
    font-size: .5em;
    }
    }

h1,
h2 {
    text-align: center;
    background: -webkit-linear-gradient(black, rgb(48, 48, 235));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato;

}



img.imagen {
    margin: 50px auto;
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main {
    margin: 45px auto;
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    background-color: rgb(165, 164, 164);
    padding: 30px;
    border-radius: 30px;
    }

.card {
    border-top: 20px;
    padding: 30px;
    min-width: 220px;
    text-align: center;
    border: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
}

h2.program {
    margin: 0;
    padding: 20px;
    text-decoration: none;
    list-style: none;
}

.card img {
    border-radius: 100px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

a {
    text-decoration: none;
}

.objet {
    position: absolute;
    background-color: #0c0c0cbe;
    padding: 40px;
    margin-right: 100px;
    margin-top: 50px;
    text-align: center;
    border: transparent;
    justify-content: center;
    color: white;
    font-size: calc(1em + 1vw);
    line-height: 1em;
}

.purpose {
    background-color: #000;
    padding: 40px;
    margin: 45px auto;
    text-align: center;
    border: transparent;
    justify-content: center;
    color: white;
    font-size: calc(1em + 1vw);
    line-height: 1em;
}
