<h1>!Equilibrio Armonico¡</h1>
<h2>El equilibrio perfecto se logra si tienes las 5 al día</h2>
<div class="">
    <img src="./assets/banner-congreso-cinco-cuerpos.jpg" alt="Cinco cuerpos" class="img-fluid imagen">
</div>
<div class="row">
    <div class="main col-11">
        <div class="card col-2">
            <a routerLink="/"><img src="./assets/banner-congreso-cinco-cuerpos.jpg" alt="Cinco cuerpos"
                    class="img-fluid">
                <h2 class="program">FÍSICA</h2>
                <p>La Materia<br></p>
            </a>
        </div>
        <div class="card col-2">
            <a routerLink="/"><img src="./assets/banner-congreso-cinco-cuerpos.jpg" alt="Cinco cuerpos"
                    class="img-fluid">
                <h2 class="program">MENTAL</h2>
                <p>Los Pensamientos<br></p>
            </a>
        </div>
        <div class="card col-2">
            <a routerLink="/"><img src="./assets/banner-congreso-cinco-cuerpos.jpg" alt="Cinco cuerpos"
                    class="img-fluid">
                <h2 class="program">EMOCIONAL</h2>
                <p>Lo que se siente <br></p>
            </a>
        </div>
        <div class="card col-2">
            <a routerLink="/"><img src="./assets/banner-congreso-cinco-cuerpos.jpg" alt="Cinco cuerpos"
                    class="img-fluid">
                <h2 class="program">ESPIRITUAL</h2>
                <p>Lo que moviliza y da sentido <br> </p>
            </a>
        </div>
        <div class="card col-2">
            <a routerLink="/"><img src="./assets/banner-congreso-cinco-cuerpos.jpg" alt="Cinco cuerpos"
                    class="img-fluid">
                <h2 class="program">ENERGÉTICA</h2>
                <P>Lo que conecta, con los<br> otros y lo otro</P>
            </a>
        </div>
    </div>
</div>

<div class="row d-flex flex-row-reverse">
    <div>
        <img src="./assets/banner-congreso-cinco-cuerpos.jpg" alt="Cinco cuerpos" class="img-fluid imagen">
    </div>

    <div class="objet col-6">
        <article>
            <p class="titulo">OBJETIVO</p>
            <p class="">Un espacio convocado por EAFIT para profundizar sobre la búsqueda y el encuentro del
                equilibrio en sujetos y
                comunidades.
                Conversaciones para ampliar la comprensión de las personas sobre la importancia de la gestión de su
                salud
                desde sus prácticas cotidianas.
                El hilo conductor de este evento será el abordaje del cuerpo, la salud desde cinco dimensiones.
            </p>
        </article>

    </div>
</div>


<div class="row d-flex justify-content-center">
    <div class="purpose col-6">
        <article>
            <p class="titulo">NUESTRO PROPOSITO COMO UNIVERSIDAD</p>
            <p class="">Educar como una acción dinámica que evoluciona, como un acto que transforma vidas, como una
                siembra incesante de esperanza… Educar es un verbo que EAFIT conjuga cada jornada y que engrandece
                gracias a su construcción colectiva y permanente de idea de Universidad, tal como lo propone Umberto Eco
                en su Obra abierta, en la que cada lector reescribe el texto y que, en el caso de nuestra Institución,
                se labra gracias a los integrantes de nuestra comunidad académica y de nuestros aliados.
            </p>
        </article>

    </div>
</div>