<h1>!Equilibrio Armonico¡</h1>
<h2>El equilibrio perfecto se logra si tienes las 5 al día</h2>
<div class="">
    <img src="./assets/banner-congreso-cinco-cuerpos.jpg" alt="Cinco cuerpos" class="img-fluid imagen">
</div>
<div class="row">
    <div class="main col-11">
        <div class="card col-2">
            <a routerLink="/"><img src="./assets/banner-congreso-cinco-cuerpos.jpg" alt="Cinco cuerpos" class="img-fluid">
            <h2 class="program">FÍSICA</h2>
            <p>La Materia<br></p></a>
        </div>
        <div class="card col-2">
            <a routerLink="/"><img src="./assets/banner-congreso-cinco-cuerpos.jpg" alt="Cinco cuerpos" class="img-fluid">
            <h2 class="program">MENTAL</h2>
            <p>Los Pensamientos<br></p></a>
        </div>
        <div class="card col-2">
            <a routerLink="/"><img src="./assets/banner-congreso-cinco-cuerpos.jpg" alt="Cinco cuerpos" class="img-fluid">
            <h2 class="program">EMOCIONAL</h2>
            <p>Lo que se siente <br></p></a>
        </div>
        <div class="card col-2">
            <a routerLink="/"><img src="./assets/banner-congreso-cinco-cuerpos.jpg" alt="Cinco cuerpos" class="img-fluid">
            <h2 class="program">ESPIRITUAL</h2>
            <p>Lo que moviliza y da sentido <br> </p></a>
        </div>
        <div class="card col-2">
            <a routerLink="/"><img src="./assets/banner-congreso-cinco-cuerpos.jpg" alt="Cinco cuerpos" class="img-fluid">
            <h2 class="program">ENERGÉTICA</h2>
            <P>Lo que conecta, con los<br> otros y lo otro</P></a>
        </div>
    </div>
</div>