<h1>Agenda de eventos y subscripciones</h1>
<div class="d-flex flex-row m-5 row">
    <div class=" d-flex flex-row-reverse">
        <a class="nav-link" routerLink="/subscription"><button type="button" class="btn btn-primary">Subscribirse</button></a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Descipcíon</th>
                <th scope="col">Lugar</th>
                <th scope="col">Reserva</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>00/00/0000</th>
                <td>Descripción: curso, master class, conferencia</td>
                <td>dirección del lugar</td>
                <td><a routerLink="/contact">diligenciar formulario</a></td>
            </tr>
            <tr>
                <th>00/00/0000</th>
                <td>Descripción: curso, master class, conferencia</td>
                <td>dirección del lugar</td>
                <td><a routerLink="/contact">diligenciar formulario</a></td>
            </tr>
            <tr>
                <th>00/00/0000</th>
                <td>Descripción: curso, master class, conferencia</td>
                <td>dirección del lugar</td>
                <td><a routerLink="/contact">diligenciar formulario</a></td>
            </tr>
            <tr>
                <th>00/00/0000</th>
                <td>Descripción: curso, master class, conferencia</td>
                <td>dirección del lugar</td>
                <td><a routerLink="/contact">diligenciar formulario</a></td>
            </tr>
            <tr>
                <th>00/00/0000</th>
                <td>Descripción: curso, master class, conferencia</td>
                <td>dirección del lugar</td>
                <td><a routerLink="/contact">diligenciar formulario</a></td>
            </tr>
            <tr>
                <th>00/00/0000</th>
                <td>Descripción: curso, master class, conferencia</td>
                <td>dirección del lugar</td>
                <td><a routerLink="/contact">diligenciar formulario</a></td>
            </tr>
            <tr>
                <th>00/00/0000</th>
                <td>Descripción: curso, master class, conferencia</td>
                <td>dirección del lugar</td>
                <td><a routerLink="/contact">diligenciar formulario</a></td>
            </tr>
            <tr>
                <th>00/00/0000</th>
                <td>Descripción: curso, master class, conferencia</td>
                <td>dirección del lugar</td>
                <td><a routerLink="/contact">diligenciar formulario</a></td>
            </tr>
            <tr>
                <th>00/00/0000</th>
                <td>Descripción: curso, master class, conferencia</td>
                <td>dirección del lugar</td>
                <td><a routerLink="/contact">diligenciar formulario</a></td>
            </tr>
            <tr>
                <th>00/00/0000</th>
                <td>Descripción: curso, master class, conferencia</td>
                <td>dirección del lugar</td>
                <td><a routerLink="/contact">diligenciar formulario</a></td>
            </tr>
            <tr>
                <th>00/00/0000</th>
                <td>Descripción: curso, master class, conferencia</td>
                <td>dirección del lugar</td>
                <td><a routerLink="/contact">diligenciar formulario</a></td>
            </tr>
            <tr>
                <th>00/00/0000</th>
                <td>Descripción: curso, master class, conferencia</td>
                <td>dirección del lugar</td>
                <td><a routerLink="/contact">diligenciar formulario</a></td>
            </tr>
            <tr>
                <th>00/00/0000</th>
                <td>Descripción: curso, master class, conferencia</td>
                <td>dirección del lugar</td>
                <td><a routerLink="/contact">diligenciar formulario</a></td>
            </tr>
            <tr>
                <th>00/00/0000</th>
                <td>Descripción: curso, master class, conferencia</td>
                <td>dirección del lugar</td>
                <td><a routerLink="/contact">diligenciar formulario</a></td>
            </tr>


        </tbody>
    </table>
</div>